name: PHPStan Guard

on:
  pull_request:
    branches:
      - main
      - develop
      - homolog

jobs:
  code-scan:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.0'  # Ajuste conforme sua versão do PHP

    - name: Install Composer Dependencies
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: PHPStan Analysis
      run: vendor/bin/phpstan analyse --level=max src  # Ajuste o caminho e nível de acordo com seu projeto
